{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="auth-layout">
    <section class="auth-box">
        <h1>Новый пароль</h1>
        <form method="post" class="auth-form">
            <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <label>
                Новый пароль
                <input type="password" name="password" required>
            </label>
            <button type="submit" class="btn-primary">Сохранить пароль</button>
        </form>
    </section>
</div>
{% endblock %}
